@font-face {
    font-family: myFirstFont;
    src: url(REIS-Regular.woff);
    font-weight: bold;
}

html,body{
  height: unset;
}


 html.md-default-theme, html, body.md-default-theme{
   background-color:transparent !important;
 }

/*
body{
  background-image: url("background.jpg");
  background-repeat: repeat-y;
  z-index: -1;
}
*/

#back {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

#back::after {
  content: "";
  background: url("background.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#title{
  /*background-color: rgba(0, 0, 0, 0.1);*/
  font-size:90px;
  font-family: myFirstFont;
}

#jumbotron{
  height:160px;
  /*background: #2c383f;*/
}

#footerLayout{
  margin-top: 70px;
  height:60px;
  background: #2c383f;
}

#footer{
  /*display:none;*/
  font-style:italic;
  color:grey;
}

.md-toolbar{
   height: 100%;
}

#form{
   height:456px;
}

md-icon svg{
  fill : #fff;
}
.md-button.md-fab.md-mini{
  float:right;
}

/*toast*/

md-toast.md-success-toast-theme .md-toast-content{

        background-color: green !important;
}

@media (max-width: 959px) {
    md-toast{
      top: 0;
    }
}

@media screen and (max-width: 760px) {

  #title{
    font-size:60px;
  }

  #form{
     height:auto;
  }

  #jumbotron{
    height:80px;
    /*background: #2c383f;*/
  }

}

@media screen and (max-width: 460px) {

  #title{
    font-size:45px;
  }

}

.my-div-icon {
	background: #666;
	}

  #menu{
    background-color: rgba(0,0,0,0.1);
  }
